.main {
  background-color:#ffffff
}
.main_hero {
  position: relative;
  overflow: hidden;
}

.main_hero img {
  display: block;
  width: 100%;
  min-height: 540px;
  object-fit: cover;
}

.main_products {
  padding-top: 18px;
}

.main_filters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 0 auto 25px;
}

.main_filters span {
  font-size: 7px;
  color: #9a9a9a;
}

.main_filters button {
  border: 1px solid #ededed;
  border-radius: 999px;
  background: #ffffff;
  color: #cf95b8;
  font-size: 7px;
  line-height: 1;
  padding: 4px 8px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.main_grid {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  justify-content: center;
  column-gap: 60px;
  row-gap: 85px;

}

.card_img_wrap {
  overflow: hidden;
}

.card img {
  object-fit: cover;
  transition: transform 0.35s ease;
  transform-origin: center;
}

.card h3 {
  margin: 35px 0 0;
  font-size: 16.6px;
  line-height: 1.35;
  color: #5e5e5e;
  font-weight: 400;
}

.card_price,
.card_cta {
  font-size: 16.2px;
  line-height: 1.25;
}

.card_meta {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.card_price {
  position: absolute;
  inset: 0 auto auto 0;
  color: #5f5f5f;
  font-weight: 700;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.card_cta {
  position: absolute;
  inset: 0 auto auto 0;
  font-weight: 400;
  color: #cd87af;
  text-decoration: underline;
  opacity: 0;
  transform: translateX(-10px);
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.card:hover img {
  transform: scale(1.06);
}

.card:hover .card_price {
  opacity: 0;
  transform: translateX(-10px);
}

.card:hover .card_cta {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.main_more {
  padding: 120px 0 24px;
  text-align: center;
}

.main_more a {
  color: #d2aac4;
  font-size: 15px;
  text-decoration: underline;
}
